In [1]:
import pandas as pd 
from scipy.stats import mannwhitneyu
from scipy import stats
import numpy as np

In [2]:
AV_path =  "/Users/ecem/Desktop/phonocardiogram/data/AV/present"
MV_path =  "/Users/ecem/Desktop/phonocardiogram/data/MV/present"
PV_path =  "/Users/ecem/Desktop/phonocardiogram/data/PV/present"
TV_path =  "/Users/ecem/Desktop/phonocardiogram/data/TV/present"

# Time domain features

In [3]:
av = pd.read_csv(AV_path + "/AV-mfcc.csv", index_col = 0)
mv = pd.read_csv(MV_path + "/MV-mfcc.csv", index_col = 0)
pv = pd.read_csv(PV_path + "/PV-mfcc.csv", index_col = 0)
tv = pd.read_csv(TV_path + "/TV-mfcc.csv", index_col = 0)

In [4]:
av

,0'th mfcc,1'th mfcc,2'th mfcc,3'th mfcc,4'th mfcc,5'th mfcc,6'th mfcc,7'th mfcc,8'th mfcc,9'th mfcc,10'th mfcc,11'th mfcc,12'th mfcc
0,-633.109253,132.700790,107.842934,74.306953,39.785713,11.594851,-5.850253,-11.787212,-8.720296,-1.054230,6.603188,10.925388,10.672085
1,-701.071594,155.947449,125.058556,83.826912,42.478271,10.240438,-7.892224,-12.005322,-6.336492,2.968461,10.324830,12.509784,9.245497
2,-741.243896,144.392624,117.971466,81.752098,44.652954,14.680330,-3.411008,-9.114907,-5.614161,1.940580,8.533819,10.958953,8.535465
3,-732.736938,151.063507,122.540520,84.347046,45.718349,15.088373,-2.875393,-8.049913,-4.078320,3.585862,9.855361,11.641628,8.457591
4,-735.887756,159.142487,127.244217,85.238556,43.997086,12.814139,-3.882348,-7.016807,-1.437791,6.647314,12.122697,12.467425,7.965951
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1240,-588.792297,113.684715,93.878868,67.051743,38.859001,15.127267,-0.260531,-6.127991,-3.993232,2.810654,10.430388,15.764427,17.263075
1241,-605.685547,121.834923,100.678566,72.031822,42.340965,17.545874,1.642311,-4.437300,-2.462748,4.086339,11.290581,16.108189,17.092247
1242,-597.122437,118.523613,98.212830,70.891685,42.662952,18.916773,3.500680,-2.521864,-0.913229,4.965795,11.423759,15.550457,16.047947
1243,-576.533752,113.801575,94.040977,67.431458,39.770035,16.870235,2.424724,-2.699684,-0.320392,6.073212,12.686643,16.670540,16.820971
1244,-528.520996,107.194771,89.459259,65.518517,40.553410,19.722246,6.260118,0.926360,2.179145,7.060628,12.336532,15.530533,15.526834

### AV-MV

In [5]:
test = mannwhitneyu(av, mv,
                    use_continuity=False, alternative = 'two-sided')
stats = pd.DataFrame(test[0])
p = pd.DataFrame(test[1])

In [6]:
p.T.style.apply(lambda x: ["background: pink" if v < 0.05 else "" for v in x], axis = 1)

In [7]:
av_mv = p[(p < 0.05).any(axis=1)].index
av_mv

Int64Index([0, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12], dtype='int64')

### AV-PV

In [8]:
test = mannwhitneyu(av, pv, use_continuity=False, alternative = 'two-sided')
stats = pd.DataFrame(test[0])
p = pd.DataFrame(test[1])

av_pv = p[(p < 0.05).any(axis=1)].index

print(av_pv)

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], dtype='int64')

In [9]:
p.T.style.apply(lambda x: ["background: pink" if v < 0.05 else "" for v in x], axis = 1)

### AV-TV

In [10]:
test = mannwhitneyu(av, tv, use_continuity=False, alternative = 'two-sided')
stats = pd.DataFrame(test[0])
p = pd.DataFrame(test[1])

p.T.style.apply(lambda x: ["background: pink" if v < 0.05 else "" for v in x], axis = 1)

av_tv = p[(p < 0.05).any(axis=1)].index

print(av_tv)

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 11, 12], dtype='int64')

In [11]:
p.T.style.apply(lambda x: ["background: pink" if v < 0.05 else "" for v in x], axis = 1)

In [12]:
list(set(av_mv) & set(av_pv) & set(av_tv) )

[0, 3, 4, 5, 6, 7, 8]

### MV-PV

In [13]:
test = mannwhitneyu(mv, pv, use_continuity=False, alternative = 'two-sided')
stats = pd.DataFrame(test[0])
p = pd.DataFrame(test[1])


mv_pv = p[(p < 0.05).any(axis=1)].index

print(mv_pv)

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12], dtype='int64')

In [14]:
p.T.style.apply(lambda x: ["background: pink" if v < 0.05 else "" for v in x], axis = 1)

### MV_TV

In [15]:
test = mannwhitneyu(mv, tv, use_continuity=False, alternative = 'two-sided')
stats = pd.DataFrame(test[0])
p = pd.DataFrame(test[1])

mv_tv = p[(p < 0.05).any(axis=1)].index

print(mv_tv)

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 11], dtype='int64')

In [16]:
p.T.style.apply(lambda x: ["background: pink" if v < 0.05 else "" for v in x], axis = 1)

### PV-TV

In [17]:
test = mannwhitneyu(pv, tv, use_continuity=False, alternative = 'two-sided')
stats = pd.DataFrame(test[0])
p = pd.DataFrame(test[1])

pv_tv = p[(p < 0.05).any(axis=1)].index

print(pv_tv)

Int64Index([2, 3, 4, 5, 6, 7, 8, 9, 11, 12], dtype='int64')

In [18]:
p.T.style.apply(lambda x: ["background: pink" if v < 0.05 else "" for v in x], axis = 1)

In [19]:
df = pd.concat([av, mv, pv, tv], axis =0)
df.head()

,0'th mfcc,1'th mfcc,2'th mfcc,3'th mfcc,4'th mfcc,5'th mfcc,6'th mfcc,7'th mfcc,8'th mfcc,9'th mfcc,10'th mfcc,11'th mfcc,12'th mfcc
0,-633.109253,132.700790,107.842934,74.306953,39.785713,11.594851,-5.850253,-11.787212,-8.720296,-1.054230,6.603188,10.925388,10.672085
1,-701.071594,155.947449,125.058556,83.826912,42.478271,10.240438,-7.892224,-12.005322,-6.336492,2.968461,10.324830,12.509784,9.245497
2,-741.243896,144.392624,117.971466,81.752098,44.652954,14.680330,-3.411008,-9.114907,-5.614161,1.940580,8.533819,10.958953,8.535465
3,-732.736938,151.063507,122.540520,84.347046,45.718349,15.088373,-2.875393,-8.049913,-4.078320,3.585862,9.855361,11.641628,8.457591
4,-735.887756,159.142487,127.244217,85.238556,43.997086,12.814139,-3.882348,-7.016807,-1.437791,6.647314,12.122697,12.467425,7.965951

In [20]:
cols = list(set(mv_pv) & set(mv_tv)  & set(av_mv) & set(av_pv) & set(av_tv)  & set(pv_tv))

In [21]:
df.iloc[:,cols]

      3'th mfcc  4'th mfcc  5'th mfcc  6'th mfcc  7'th mfcc  8'th mfcc
0     74.306953  39.785713  11.594851  -5.850253 -11.787212  -8.720296
1     83.826912  42.478271  10.240438  -7.892224 -12.005322  -6.336492
2     81.752098  44.652954  14.680330  -3.411008  -9.114907  -5.614161
3     84.347046  45.718349  15.088373  -2.875393  -8.049913  -4.078320
4     85.238556  43.997086  12.814139  -3.882348  -7.016807  -1.437791
...         ...        ...        ...        ...        ...        ...
1200  66.045433  44.804813  26.420040  13.684677   7.527235   7.023386
1201  71.702789  44.700024  22.428585   8.171965   2.512529   3.696732
1202  65.035126  45.093800  27.471945  14.859971   8.360435   7.375756
1203  67.402847  41.922855  20.311941   6.028016   0.111621   1.211944
1204  66.390869  44.444187  25.317530  11.911399   5.265403   4.552200

[4728 rows x 6 columns]

In [22]:
df.to_csv("/Users/ecem/Desktop/phonocardiogram/data/mfcc.csv")