In [1]:
import pandas as pd 
from scipy.stats import mannwhitneyu
from scipy import stats
import numpy as np

RuntimeError: module compiled against API version 0xe but this version of numpy is 0xd

In [2]:
AV_path =  "/Users/ecem/Desktop/phonocardiogram/data/AV/present"
MV_path =  "/Users/ecem/Desktop/phonocardiogram/data/MV/present"
PV_path =  "/Users/ecem/Desktop/phonocardiogram/data/PV/present"
TV_path =  "/Users/ecem/Desktop/phonocardiogram/data/TV/present"

# Time domain features

In [3]:
av = pd.read_csv(AV_path + "/AV-statistical-features.csv", index_col = 0)
mv = pd.read_csv(MV_path + "/MV-statistical-features.csv", index_col = 0)
pv = pd.read_csv(PV_path + "/PV-statistical-features.csv", index_col = 0)
tv = pd.read_csv(TV_path + "/TV-statistical-features.csv", index_col = 0)

In [4]:
av

,mean,std,skewness,kurtosis,harmonic mean,ac peak height mean
0,-0.000040,0.060224,-0.638895,51.817342,4.405790e-10,2.167401
1,-0.000483,0.027385,0.169739,2.901926,1.058298e-08,0.825860
2,-0.000067,0.019704,0.181507,4.582113,2.210099e-09,0.303073
3,-0.000062,0.022971,-0.092871,3.136028,4.928371e-09,0.467023
4,0.000141,0.026843,0.031420,4.079496,1.251589e-11,0.599395
...,...,...,...,...,...,...
1240,-0.000112,0.069700,-0.569312,4.866047,2.078173e-08,7.022980
1241,0.000324,0.089558,-0.047007,7.927406,1.564200e-08,8.178963
1242,0.000426,0.089493,-0.188578,2.549026,4.151414e-08,13.439792
1243,-0.000156,0.100999,0.054567,4.374774,1.060101e-12,15.628110
1244,-0.001071,0.164105,-0.129876,6.742510,2.881127e-07,43.147708

### AV-MV

In [5]:
test = mannwhitneyu(av, mv,
                    use_continuity=False, alternative = 'two-sided')
stats = pd.DataFrame(test[0])
p = pd.DataFrame(test[1])

In [6]:
p.T.style.apply(lambda x: ["background: pink" if v < 0.05 else "" for v in x], axis = 1)

In [7]:
av_mv = p[(p < 0.05).any(axis=1)].index
av_mv

Int64Index([0, 1, 2, 3, 4, 5], dtype='int64')

### AV-PV

In [8]:
test = mannwhitneyu(av, pv, use_continuity=False, alternative = 'two-sided')
stats = pd.DataFrame(test[0])
p = pd.DataFrame(test[1])

av_pv = p[(p < 0.05).any(axis=1)].index

print(av_pv)

Int64Index([0, 1, 2, 5], dtype='int64')

In [9]:
p.T.style.apply(lambda x: ["background: pink" if v < 0.05 else "" for v in x], axis = 1)

### AV-TV

In [10]:
test = mannwhitneyu(av, tv, use_continuity=False, alternative = 'two-sided')
stats = pd.DataFrame(test[0])
p = pd.DataFrame(test[1])

p.T.style.apply(lambda x: ["background: pink" if v < 0.05 else "" for v in x], axis = 1)

av_tv = p[(p < 0.05).any(axis=1)].index

print(av_tv)

Int64Index([1, 2, 3, 4, 5], dtype='int64')

In [11]:
p.T.style.apply(lambda x: ["background: pink" if v < 0.05 else "" for v in x], axis = 1)

### MV-PV

In [12]:
test = mannwhitneyu(mv, pv, use_continuity=False, alternative = 'two-sided')
stats = pd.DataFrame(test[0])
p = pd.DataFrame(test[1])


mv_pv = p[(p < 0.05).any(axis=1)].index

print(mv_pv)

Int64Index([0, 1, 2, 3, 4, 5], dtype='int64')

In [13]:
p.T.style.apply(lambda x: ["background: pink" if v < 0.05 else "" for v in x], axis = 1)

### MV_TV

In [14]:
test = mannwhitneyu(mv, tv, use_continuity=False, alternative = 'two-sided')
stats = pd.DataFrame(test[0])
p = pd.DataFrame(test[1])

mv_tv = p[(p < 0.05).any(axis=1)].index

print(mv_tv)

Int64Index([0, 1, 2, 4, 5], dtype='int64')

In [15]:
p.T.style.apply(lambda x: ["background: pink" if v < 0.05 else "" for v in x], axis = 1)

### PV-TV

In [16]:
test = mannwhitneyu(pv, tv, use_continuity=False, alternative = 'two-sided')
stats = pd.DataFrame(test[0])
p = pd.DataFrame(test[1])

pv_tv = p[(p < 0.05).any(axis=1)].index

print(pv_tv)

Int64Index([0, 2, 3], dtype='int64')

In [17]:
p.T.style.apply(lambda x: ["background: pink" if v < 0.05 else "" for v in x], axis = 1)

## as a result we will only exclude the spectral spread. So lets finalize the final dataframe.

In [18]:
df = pd.concat([av, mv, pv, tv], axis =0)
df.head()

       mean       std  skewness   kurtosis  harmonic mean  ac peak height mean
0 -0.000040  0.060224 -0.638895  51.817342   4.405790e-10             2.167401
1 -0.000483  0.027385  0.169739   2.901926   1.058298e-08             0.825860
2 -0.000067  0.019704  0.181507   4.582113   2.210099e-09             0.303073
3 -0.000062  0.022971 -0.092871   3.136028   4.928371e-09             0.467023
4  0.000141  0.026843  0.031420   4.079496   1.251589e-11             0.599395

In [19]:
df.to_csv("/Users/ecem/Desktop/phonocardiogram/data/statistical-features.csv")