In [1]:
import pandas as pd 
from scipy.stats import mannwhitneyu
from scipy import stats
import numpy as np

In [2]:
AV_path =  "/Users/ecem/Desktop/phonocardiogram/data/AV/present"
MV_path =  "/Users/ecem/Desktop/phonocardiogram/data/MV/present"
PV_path =  "/Users/ecem/Desktop/phonocardiogram/data/PV/present"
TV_path =  "/Users/ecem/Desktop/phonocardiogram/data/TV/present"

# Time domain features

In [3]:
av = np.load(AV_path + "/rqa_AV.npy", allow_pickle = True)
mv = np.load(MV_path + "/rqa_MV.npy", allow_pickle = True)
pv = np.load(PV_path + "/rqa_PV.npy", allow_pickle = True)
tv = np.load(TV_path + "/rqa_TV.npy", allow_pickle = True)

In [4]:
av

array([[2.        , 2.        , 2.        , ..., 2.84661316, 1.00736522,
        0.99999988],
       [2.        , 2.        , 2.        , ..., 0.        , 1.00000004,
        0.99999996],
       [2.        , 2.        , 2.        , ..., 0.        , 1.00000004,
        0.99999996],
       ...,
       [2.        , 2.        , 2.        , ..., 4.60704989, 1.0022954 ,
        1.00000004],
       [2.        , 2.        , 2.        , ..., 4.50134384, 1.00757418,
        1.00000012],
       [2.        , 2.        , 2.        , ..., 4.83862133, 1.06432717,
        1.00000055]])

### AV-MV

In [5]:
test = mannwhitneyu(av, mv,
                    use_continuity=False, alternative = 'two-sided')
stats = pd.DataFrame(test[0])
p = pd.DataFrame(test[1])

In [6]:
p.T.style.apply(lambda x: ["background: pink" if v < 0.05 else "" for v in x], axis = 1)

In [7]:
av_mv = p[(p < 0.05).any(axis=1)].index
av_mv

Int64Index([15], dtype='int64')

### AV-PV

In [8]:
test = mannwhitneyu(av, pv, use_continuity=False, alternative = 'two-sided')
stats = pd.DataFrame(test[0])
p = pd.DataFrame(test[1])

av_pv = p[(p < 0.05).any(axis=1)].index

print(av_pv)

Int64Index([3, 4, 5, 8, 10, 12, 14, 15, 16, 17], dtype='int64')

In [9]:
p.T.style.apply(lambda x: ["background: pink" if v < 0.05 else "" for v in x], axis = 1)

### AV-TV

In [10]:
test = mannwhitneyu(av, tv, use_continuity=False, alternative = 'two-sided')
stats = pd.DataFrame(test[0])
p = pd.DataFrame(test[1])

p.T.style.apply(lambda x: ["background: pink" if v < 0.05 else "" for v in x], axis = 1)

av_tv = p[(p < 0.05).any(axis=1)].index

print(av_tv)

Int64Index([3, 4, 5, 8, 9, 10, 11, 12, 14, 15, 16], dtype='int64')

In [11]:
p.T.style.apply(lambda x: ["background: pink" if v < 0.05 else "" for v in x], axis = 1)

In [12]:
list(set(av_mv) & set(av_pv) & set(av_tv) )

[15]

### MV-PV

In [13]:
test = mannwhitneyu(mv, pv, use_continuity=False, alternative = 'two-sided')
stats = pd.DataFrame(test[0])
p = pd.DataFrame(test[1])


mv_pv = p[(p < 0.05).any(axis=1)].index

print(mv_pv)

Int64Index([3, 4, 5, 8, 10, 12, 14, 15, 16, 17], dtype='int64')

In [14]:
p.T.style.apply(lambda x: ["background: pink" if v < 0.05 else "" for v in x], axis = 1)

### MV_TV

In [15]:
test = mannwhitneyu(mv, tv, use_continuity=False, alternative = 'two-sided')
stats = pd.DataFrame(test[0])
p = pd.DataFrame(test[1])

mv_tv = p[(p < 0.05).any(axis=1)].index

print(mv_tv)

Int64Index([3, 4, 5, 8, 9, 10, 11, 12, 14, 15, 16], dtype='int64')

In [16]:
p.T.style.apply(lambda x: ["background: pink" if v < 0.05 else "" for v in x], axis = 1)

### PV-TV

In [17]:
test = mannwhitneyu(pv, tv, use_continuity=False, alternative = 'two-sided')
stats = pd.DataFrame(test[0])
p = pd.DataFrame(test[1])

pv_tv = p[(p < 0.05).any(axis=1)].index

print(pv_tv)

Int64Index([9, 11, 12, 14], dtype='int64')

In [18]:
p.T.style.apply(lambda x: ["background: pink" if v < 0.05 else "" for v in x], axis = 1)

In [19]:
columns = ["min_diagonal_line_length", "min_vertical_line_length", "min_white_vertical_line_length",
           "recurrence_rate","determinism","average_diagonal_line","longest_diagonal_line","divergence",
           "entropy_diagonal_lines", "laminarity", "trapping_time", "longest_vertical_line", 
           "entropy_vertical_lines", "average_white_vertical_line", "longest_white_vertical_line", 
           "entropy_white_vertical_lines", "ratio_determinism_recurrence_rate", "ratio_laminarity_determinism "]

In [20]:
df_av = pd.DataFrame(av, columns =columns )
df_mv = pd.DataFrame(mv, columns =columns )
df_pv = pd.DataFrame(pv, columns =columns )
df_tv = pd.DataFrame(tv, columns =columns )

In [21]:
df = pd.concat([df_av, df_mv, df_pv, df_tv], axis =0)
df.head()

,min_diagonal_line_length,min_vertical_line_length,min_white_vertical_line_length,recurrence_rate,determinism,average_diagonal_line,longest_diagonal_line,divergence,entropy_diagonal_lines,laminarity,trapping_time,longest_vertical_line,entropy_vertical_lines,average_white_vertical_line,longest_white_vertical_line,entropy_white_vertical_lines,ratio_determinism_recurrence_rate,ratio_laminarity_determinism
0,2.0,2.0,2.0,0.992689,1.0,1119.932797,39997.0,0.000025,4.925425,1.0,2110.97942,25686.0,4.039169,16.757784,25786.0,2.846613,1.007365,1.0
1,2.0,2.0,2.0,1.000000,1.0,19999.500750,39997.0,0.000025,10.596535,1.0,39997.99990,39998.0,0.000000,NaN,0.0,0.000000,1.000000,1.0
2,2.0,2.0,2.0,1.000000,1.0,19999.500750,39997.0,0.000025,10.596535,1.0,39997.99990,39998.0,0.000000,NaN,0.0,0.000000,1.000000,1.0
3,2.0,2.0,2.0,1.000000,1.0,19999.500750,39997.0,0.000025,10.596535,1.0,39997.99990,39998.0,0.000000,NaN,0.0,0.000000,1.000000,1.0
4,2.0,2.0,2.0,1.000000,1.0,19999.500750,39997.0,0.000025,10.596535,1.0,39997.99990,39998.0,0.000000,NaN,0.0,0.000000,1.000000,1.0

In [22]:
df

,min_diagonal_line_length,min_vertical_line_length,min_white_vertical_line_length,recurrence_rate,determinism,average_diagonal_line,longest_diagonal_line,divergence,entropy_diagonal_lines,laminarity,trapping_time,longest_vertical_line,entropy_vertical_lines,average_white_vertical_line,longest_white_vertical_line,entropy_white_vertical_lines,ratio_determinism_recurrence_rate,ratio_laminarity_determinism
0,2.0,2.0,2.0,0.992689,1.000000,1119.932797,39997.0,0.000025,4.925425,1.000000,2110.979420,25686.0,4.039169,16.757784,25786.0,2.846613,1.007365,1.000000
1,2.0,2.0,2.0,1.000000,1.000000,19999.500750,39997.0,0.000025,10.596535,1.000000,39997.999900,39998.0,0.000000,NaN,0.0,0.000000,1.000000,1.000000
2,2.0,2.0,2.0,1.000000,1.000000,19999.500750,39997.0,0.000025,10.596535,1.000000,39997.999900,39998.0,0.000000,NaN,0.0,0.000000,1.000000,1.000000
3,2.0,2.0,2.0,1.000000,1.000000,19999.500750,39997.0,0.000025,10.596535,1.000000,39997.999900,39998.0,0.000000,NaN,0.0,0.000000,1.000000,1.000000
4,2.0,2.0,2.0,1.000000,1.000000,19999.500750,39997.0,0.000025,10.596535,1.000000,39997.999900,39998.0,0.000000,NaN,0.0,0.000000,1.000000,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1200,2.0,2.0,2.0,0.862485,0.999998,339.212861,39997.0,0.000025,6.417371,0.999999,527.995004,8235.0,6.435529,85.372912,9471.0,5.204538,1.159438,1.000000
1201,2.0,2.0,2.0,0.906680,0.999999,502.727399,39997.0,0.000025,6.770139,0.999999,776.040309,9165.0,6.510257,81.542455,9454.0,5.166928,1.102924,1.000000
1202,2.0,2.0,2.0,0.879299,0.999999,408.889079,39997.0,0.000025,6.633837,0.999998,626.696060,9620.0,6.566982,87.096694,10946.0,5.243345,1.137268,1.000000
1203,2.0,2.0,2.0,0.908215,0.999996,456.379323,39997.0,0.000025,6.709152,0.999997,693.866745,10559.0,6.590558,71.089426,14238.0,5.081825,1.101056,1.000000
1204,2.0,2.0,2.0,0.919544,0.999998,500.982782,39997.0,0.000025,6.870929,0.999998,788.208003,9679.0,6.728481,70.557061,13639.0,5.078580,1.087493,1.000001

In [23]:
df.isna().sum()

min_diagonal_line_length                0
min_vertical_line_length                0
min_white_vertical_line_length          0
recurrence_rate                         0
determinism                             0
average_diagonal_line                   0
longest_diagonal_line                   0
divergence                              0
entropy_diagonal_lines                  0
laminarity                              0
trapping_time                           0
longest_vertical_line                   0
entropy_vertical_lines                  0
average_white_vertical_line          1543
longest_white_vertical_line             0
entropy_white_vertical_lines            0
ratio_determinism_recurrence_rate       0
ratio_laminarity_determinism            0
dtype: int64

In [24]:
#df.to_csv("/Users/ecem/Desktop/phonocardiogram/data/rqa.csv")

In [26]:
df.columns.shape

(18,)

In [ ]:
'min_diagonal_line_length', 
'min_vertical_line_length',
       'min_white_vertical_line_length', 
    'recurrence_rate', 'determinism',
       'average_diagonal_line', 
        'longest_diagonal_line', 
        'divergence',
       'entropy_diagonal_lines',
    'laminarity',
    'trapping_time',
       'longest_vertical_line', 
        'entropy_vertical_lines',
       'longest_white_vertical_line',
       'entropy_white_vertical_lines',
        'ratio_determinism_recurrence_rate',
       'ratio_laminarity_determinism '