In [1]:
import pandas as pd 
from scipy.stats import mannwhitneyu
from scipy import stats
import numpy as np

In [2]:
AV_path =  "/Users/ecem/Desktop/phonocardiogram/data/AV/present"
MV_path =  "/Users/ecem/Desktop/phonocardiogram/data/MV/present"
PV_path =  "/Users/ecem/Desktop/phonocardiogram/data/PV/present"
TV_path =  "/Users/ecem/Desktop/phonocardiogram/data/TV/present"

# Entropy features

In [3]:
av = pd.read_csv(AV_path + "/shannon_entropy.csv", index_col = 0)
mv = pd.read_csv(MV_path + "/shannon_entropy.csv", index_col = 0)
pv = pd.read_csv(PV_path + "/shannon_entropy.csv", index_col = 0)
tv = pd.read_csv(TV_path + "/shannon_entropy.csv", index_col = 0)

In [4]:
av

        approx      lvl5      lvl4      lvl3      lvl2      lvl1
0     6.332259  6.229442  6.475745  7.444101  8.316431  8.943274
1     6.702363  6.629805  7.401528  8.117037  8.834056  9.352706
2     6.568780  6.603271  7.456561  8.205790  8.910208  9.349056
3     6.617825  6.666370  7.387099  8.053108  8.692856  9.210390
4     6.588070  6.663248  7.417582  7.989165  8.619781  9.159248
...        ...       ...       ...       ...       ...       ...
1240  6.646903  6.631938  7.112169  7.720889  8.430571  7.781377
1241  6.601840  6.507274  6.950059  7.667549  8.379178  8.242596
1242  6.680540  6.627028  6.999328  7.535303  8.238698  5.955468
1243  6.634735  6.508259  6.850771  7.516241  8.212043  6.636245
1244  6.590891  6.103599  6.844823  7.716291  8.474675  8.961600

[1245 rows x 6 columns]

### AV-MV

In [5]:
test = mannwhitneyu(av, mv,
                    use_continuity=False, alternative = 'two-sided')
stats = pd.DataFrame(test[0])
p = pd.DataFrame(test[1])

In [6]:
p.T.style.apply(lambda x: ["background: pink" if v < 0.05 else "" for v in x], axis = 1)

In [7]:
av_mv = p[(p < 0.05).any(axis=1)].index
av_mv

Int64Index([0, 1, 3, 4, 5], dtype='int64')

### AV-PV

In [8]:
test = mannwhitneyu(av, pv, use_continuity=False, alternative = 'two-sided')
stats = pd.DataFrame(test[0])
p = pd.DataFrame(test[1])

av_pv = p[(p < 0.05).any(axis=1)].index

print(av_pv)

Int64Index([0, 1, 3, 4], dtype='int64')

In [9]:
p.T.style.apply(lambda x: ["background: pink" if v < 0.05 else "" for v in x], axis = 1)

### AV-TV

In [10]:
test = mannwhitneyu(av, tv, use_continuity=False, alternative = 'two-sided')
stats = pd.DataFrame(test[0])
p = pd.DataFrame(test[1])

p.T.style.apply(lambda x: ["background: pink" if v < 0.05 else "" for v in x], axis = 1)

av_tv = p[(p < 0.05).any(axis=1)].index

print(av_tv)

Int64Index([0, 1, 2, 4, 5], dtype='int64')

In [11]:
p.T.style.apply(lambda x: ["background: pink" if v < 0.05 else "" for v in x], axis = 1)

### MV-PV

In [12]:
test = mannwhitneyu(mv, pv, use_continuity=False, alternative = 'two-sided')
stats = pd.DataFrame(test[0])
p = pd.DataFrame(test[1])


mv_pv = p[(p < 0.05).any(axis=1)].index

print(mv_pv)

Int64Index([0, 1, 2, 5], dtype='int64')

In [13]:
p.T.style.apply(lambda x: ["background: pink" if v < 0.05 else "" for v in x], axis = 1)

### MV_TV

In [14]:
test = mannwhitneyu(mv, tv, use_continuity=False, alternative = 'two-sided')
stats = pd.DataFrame(test[0])
p = pd.DataFrame(test[1])

mv_tv = p[(p < 0.05).any(axis=1)].index

print(mv_tv)

Int64Index([0, 1, 2], dtype='int64')

In [15]:
p.T.style.apply(lambda x: ["background: pink" if v < 0.05 else "" for v in x], axis = 1)

### PV-TV

In [16]:
test = mannwhitneyu(pv, tv, use_continuity=False, alternative = 'two-sided')
stats = pd.DataFrame(test[0])
p = pd.DataFrame(test[1])

pv_tv = p[(p < 0.05).any(axis=1)].index

print(pv_tv)

Int64Index([0, 1, 5], dtype='int64')

In [17]:
p.T.style.apply(lambda x: ["background: pink" if v < 0.05 else "" for v in x], axis = 1)

In [18]:
df = pd.concat([av, mv, pv, tv], axis =0)
df.head()

     approx      lvl5      lvl4      lvl3      lvl2      lvl1
0  6.332259  6.229442  6.475745  7.444101  8.316431  8.943274
1  6.702363  6.629805  7.401528  8.117037  8.834056  9.352706
2  6.568780  6.603271  7.456561  8.205790  8.910208  9.349056
3  6.617825  6.666370  7.387099  8.053108  8.692856  9.210390
4  6.588070  6.663248  7.417582  7.989165  8.619781  9.159248

In [19]:
#df = df[["approx", "lvl5"]]
df

        approx      lvl5      lvl4      lvl3      lvl2      lvl1
0     6.332259  6.229442  6.475745  7.444101  8.316431  8.943274
1     6.702363  6.629805  7.401528  8.117037  8.834056  9.352706
2     6.568780  6.603271  7.456561  8.205790  8.910208  9.349056
3     6.617825  6.666370  7.387099  8.053108  8.692856  9.210390
4     6.588070  6.663248  7.417582  7.989165  8.619781  9.159248
...        ...       ...       ...       ...       ...       ...
1200  6.624857  6.547929  7.242003  8.000952  8.716274  7.139174
1201  6.633953  6.521235  7.313371  8.074362  8.710971  6.732684
1202  6.662886  6.545979  7.310356  8.131572  8.768701  7.585297
1203  6.652011  6.536550  7.256038  7.961698  8.675770  8.921017
1204  6.633846  6.465727  6.986950  7.525166  8.234385  8.294152

[4728 rows x 6 columns]

In [20]:
df.to_csv("/Users/ecem/Desktop/phonocardiogram/data/shannon_entropy.csv")