In [1]:
import pandas as pd 
from scipy.stats import mannwhitneyu
from scipy import stats
import numpy as np

In [2]:
AV_path =  "/Users/ecem/Desktop/phonocardiogram/data/AV/present"
MV_path =  "/Users/ecem/Desktop/phonocardiogram/data/MV/present"
PV_path =  "/Users/ecem/Desktop/phonocardiogram/data/PV/present"
TV_path =  "/Users/ecem/Desktop/phonocardiogram/data/TV/present"

# Time domain features

In [3]:
av = pd.read_csv(AV_path + "/AV-max-min-normalized-peaks.csv", index_col = 0)
mv = pd.read_csv(MV_path + "/MV-max-min-normalized-peaks.csv", index_col = 0)
pv = pd.read_csv(PV_path + "/PV-max-min-normalized-peaks.csv", index_col = 0)
tv = pd.read_csv(TV_path + "/TV-max-min-normalized-peaks.csv", index_col = 0)

In [4]:
av

      ac num of peaks
0                64.0
1               126.0
2                89.0
3               127.0
4                39.0
...               ...
1240             39.0
1241             22.0
1242             34.0
1243             80.0
1244             39.0

[1245 rows x 1 columns]

### AV-MV

In [5]:
test = mannwhitneyu(av, mv,
                    use_continuity=False, alternative = 'two-sided')
stats = pd.DataFrame(test[0])
p = pd.DataFrame(test[1])

In [6]:
p.T.style.apply(lambda x: ["background: pink" if v < 0.05 else "" for v in x], axis = 1)

In [7]:
av_mv = p[(p < 0.05).any(axis=1)].index
av_mv

Int64Index([0], dtype='int64')

### AV-PV

In [8]:
test = mannwhitneyu(av, pv, use_continuity=False, alternative = 'two-sided')
stats = pd.DataFrame(test[0])
p = pd.DataFrame(test[1])

av_pv = p[(p < 0.05).any(axis=1)].index

print(av_pv)

Int64Index([0], dtype='int64')

In [9]:
p.T.style.apply(lambda x: ["background: pink" if v < 0.05 else "" for v in x], axis = 1)

### AV-TV

In [10]:
test = mannwhitneyu(av, tv, use_continuity=False, alternative = 'two-sided')
stats = pd.DataFrame(test[0])
p = pd.DataFrame(test[1])

p.T.style.apply(lambda x: ["background: pink" if v < 0.05 else "" for v in x], axis = 1)

av_tv = p[(p < 0.05).any(axis=1)].index

print(av_tv)

Int64Index([0], dtype='int64')

In [11]:
p.T.style.apply(lambda x: ["background: pink" if v < 0.05 else "" for v in x], axis = 1)

### MV-PV

In [12]:
test = mannwhitneyu(mv, pv, use_continuity=False, alternative = 'two-sided')
stats = pd.DataFrame(test[0])
p = pd.DataFrame(test[1])


mv_pv = p[(p < 0.05).any(axis=1)].index

print(mv_pv)

Int64Index([], dtype='int64')

In [13]:
p.T.style.apply(lambda x: ["background: pink" if v < 0.05 else "" for v in x], axis = 1)

### MV_TV

In [14]:
test = mannwhitneyu(mv, tv, use_continuity=False, alternative = 'two-sided')
stats = pd.DataFrame(test[0])
p = pd.DataFrame(test[1])

mv_tv = p[(p < 0.05).any(axis=1)].index

print(mv_tv)

Int64Index([0], dtype='int64')

In [15]:
p.T.style.apply(lambda x: ["background: pink" if v < 0.05 else "" for v in x], axis = 1)

### PV-TV

In [16]:
test = mannwhitneyu(pv, tv, use_continuity=False, alternative = 'two-sided')
stats = pd.DataFrame(test[0])
p = pd.DataFrame(test[1])

pv_tv = p[(p < 0.05).any(axis=1)].index

print(pv_tv)

Int64Index([0], dtype='int64')

In [17]:
p.T.style.apply(lambda x: ["background: pink" if v < 0.05 else "" for v in x], axis = 1)

In [18]:
df = pd.concat([av, mv, pv, tv], axis =0)
df.head()

   ac num of peaks
0             64.0
1            126.0
2             89.0
3            127.0
4             39.0

In [19]:
df

      ac num of peaks
0                64.0
1               126.0
2                89.0
3               127.0
4                39.0
...               ...
1200             24.0
1201             58.0
1202             24.0
1203             57.0
1204             24.0

[4728 rows x 1 columns]

In [20]:
df.to_csv("/Users/ecem/Desktop/phonocardiogram/data/normalized_peaks.csv")