In [1]:
import pandas as pd 
from scipy.stats import mannwhitneyu
from scipy import stats
import numpy as np

RuntimeError: module compiled against API version 0xe but this version of numpy is 0xd

In [2]:
AV_path =  "/Users/ecem/Desktop/phonocardiogram/data/AV/present"
MV_path =  "/Users/ecem/Desktop/phonocardiogram/data/MV/present"
PV_path =  "/Users/ecem/Desktop/phonocardiogram/data/PV/present"
TV_path =  "/Users/ecem/Desktop/phonocardiogram/data/TV/present"

# Time domain features

In [3]:
av = pd.read_csv(AV_path + "/AV-time-domain-features.csv", index_col = 0)
mv = pd.read_csv(MV_path + "/MV-time-domain-features.csv", index_col = 0)
pv = pd.read_csv(PV_path + "/PV-time-domain-features.csv", index_col = 0)
tv = pd.read_csv(TV_path + "/TV-time-domain-features.csv", index_col = 0)

In [4]:
av

,energy,entropy,spectral entropy,spectral rolloff,spectral centorid,spectral spread
0,0.003627,1.669286,0.188441,0.07420,0.053309,0.050103
1,0.000750,2.963927,0.043663,0.04800,0.042804,0.050674
2,0.000388,2.840991,0.017348,0.04395,0.034369,0.036723
3,0.000528,2.859511,0.025138,0.04730,0.037526,0.048492
4,0.000721,2.733358,0.029182,0.04545,0.041871,0.065678
...,...,...,...,...,...,...
1240,0.004858,2.934228,0.072016,0.01065,0.034953,0.056451
1241,0.008021,2.682469,0.054700,0.01220,0.030964,0.041103
1242,0.008009,2.889273,0.069861,0.01200,0.035854,0.066225
1243,0.010201,3.021816,0.061103,0.01205,0.047309,0.104097
1244,0.026932,3.144357,0.019942,0.01680,0.038167,0.089613

### AV-MV

In [5]:
test = mannwhitneyu(av, mv,
                    use_continuity=False, alternative = 'two-sided')
stats = pd.DataFrame(test[0])
p = pd.DataFrame(test[1])

In [6]:
p.T.style.apply(lambda x: ["background: pink" if v < 0.05 else "" for v in x], axis = 1)

In [7]:
av_mv = p[(p < 0.05).any(axis=1)].index
av_mv

Int64Index([0, 2, 3], dtype='int64')

### AV-PV

In [8]:
test = mannwhitneyu(av, pv, use_continuity=False, alternative = 'two-sided')
stats = pd.DataFrame(test[0])
p = pd.DataFrame(test[1])

av_pv = p[(p < 0.05).any(axis=1)].index

print(av_pv)

Int64Index([0, 1, 2, 3, 4], dtype='int64')

In [9]:
p.T.style.apply(lambda x: ["background: pink" if v < 0.05 else "" for v in x], axis = 1)

### AV-TV

In [10]:
test = mannwhitneyu(av, tv, use_continuity=False, alternative = 'two-sided')
stats = pd.DataFrame(test[0])
p = pd.DataFrame(test[1])

p.T.style.apply(lambda x: ["background: pink" if v < 0.05 else "" for v in x], axis = 1)

av_tv = p[(p < 0.05).any(axis=1)].index

print(av_tv)

Int64Index([0, 1, 3, 4], dtype='int64')

In [11]:
p.T.style.apply(lambda x: ["background: pink" if v < 0.05 else "" for v in x], axis = 1)

### MV-PV

In [12]:
test = mannwhitneyu(mv, pv, use_continuity=False, alternative = 'two-sided')
stats = pd.DataFrame(test[0])
p = pd.DataFrame(test[1])


mv_pv = p[(p < 0.05).any(axis=1)].index

print(mv_pv)

Int64Index([0, 2, 3, 4], dtype='int64')

In [13]:
p.T.style.apply(lambda x: ["background: pink" if v < 0.05 else "" for v in x], axis = 1)

### MV_TV

In [14]:
test = mannwhitneyu(mv, tv, use_continuity=False, alternative = 'two-sided')
stats = pd.DataFrame(test[0])
p = pd.DataFrame(test[1])

mv_tv = p[(p < 0.05).any(axis=1)].index

print(mv_tv)

Int64Index([0, 2, 3, 4], dtype='int64')

In [15]:
p.T.style.apply(lambda x: ["background: pink" if v < 0.05 else "" for v in x], axis = 1)

### PV-TV

In [16]:
test = mannwhitneyu(pv, tv, use_continuity=False, alternative = 'two-sided')
stats = pd.DataFrame(test[0])
p = pd.DataFrame(test[1])

pv_tv = p[(p < 0.05).any(axis=1)].index

print(pv_tv)

Int64Index([2, 4], dtype='int64')

In [17]:
p.T.style.apply(lambda x: ["background: pink" if v < 0.05 else "" for v in x], axis = 1)

## as a result we will only exclude the spectral spread. So lets finalize the final dataframe.

In [18]:
df = pd.concat([av, mv, pv, tv], axis =0)
df.head()

,energy,entropy,spectral entropy,spectral rolloff,spectral centorid,spectral spread
0,0.003627,1.669286,0.188441,0.07420,0.053309,0.050103
1,0.000750,2.963927,0.043663,0.04800,0.042804,0.050674
2,0.000388,2.840991,0.017348,0.04395,0.034369,0.036723
3,0.000528,2.859511,0.025138,0.04730,0.037526,0.048492
4,0.000721,2.733358,0.029182,0.04545,0.041871,0.065678

In [19]:
df.drop(["spectral spread"], axis =1, inplace= True)

In [20]:
df

,energy,entropy,spectral entropy,spectral rolloff,spectral centorid
0,0.003627,1.669286,0.188441,0.07420,0.053309
1,0.000750,2.963927,0.043663,0.04800,0.042804
2,0.000388,2.840991,0.017348,0.04395,0.034369
3,0.000528,2.859511,0.025138,0.04730,0.037526
4,0.000721,2.733358,0.029182,0.04545,0.041871
...,...,...,...,...,...
1200,0.049386,2.913031,0.003455,0.01245,0.022283
1201,0.036694,2.950586,0.004319,0.01265,0.023515
1202,0.046054,3.018884,0.004654,0.01095,0.039226
1203,0.036297,2.993076,0.014952,0.01215,0.045749
1204,0.033401,3.047971,0.027397,0.01215,0.028171

In [21]:
df.to_csv("/Users/ecem/Desktop/phonocardiogram/data/time-domain-features.csv")